body{
  margin: 0;
  padding: 0;
}


*{
  font-family: 'Ubuntu', sans-serif; 
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Navbar styling starts here */

a{
  text-decoration: none;
  color: black;
}

button{
  color: white;
  background-color: #2E8BC0;
  border-color: #2E8BC0;
}

button:hover{
  background-color: #145DA0;
}

a:hover{
  color:#0C2D48;
  font-weight: bolder;
}

#topnav{
  display: flex;
  flex-direction: row;
  background-color: #B1D4E0;
  overflow: hidden;
  z-index: 2;
  margin-bottom: 0;
}

#logo-search{
  margin-top: 2%;
  margin-left: 6%;
  margin-bottom: 2%;
}

#search-submit{
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 2%;
}

#web-logo{
  margin-left: 5%;
  margin-top: 2%;
}

#submit{
  margin-left: 1%;
  border-radius: 5px;
}

#logout{
  margin-left: 1%;
  border-radius: 5px;
}

input[Search]{
    border-radius: 5px;
}

#menu-details{
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  margin-left: 15%;
  margin-top: 5%;
}

/* When added, divs change. Try fixing */
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  
} */


/* User details styling */

#user-details{
  margin-top: 0%;
  background-color: #B1D4E0;
}

#container-user-info{
  display: flex;
  flex-direction: row;
}

#user-info{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-left: 7%;
  padding-bottom: 10px;
}

/* Info Div starts here */

#outer-div{
  padding-top: 2px;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container {
  margin-top: 10%;
  display: flex;
  justify-content: column;
  background-color: #ffffff;
  height: 300px;
  align-items: space-between;
  align-items: flex-end;
  
}

.flex-container>div {
  justify-self: space;
  width: 300px;
  height: 300px;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-size: 30px;
  font-size: x-small;
}

.activity-img{
  margin-top: 10%;
}

.flexbox-item {
    height: 100px;
    width: 200px;
    order: 1;
    position: relative;
    z-index: 1;
	  transition: 0.5s;
    border-left-style: solid;
    border-color: #2E8BC0;
    border-width: 5px;
}

.flexbox-item span{
	position: absolute;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	background:#2E8BC0;
	z-index: -1;
	transition: 0.2s;
  order: 1;
}
.flexbox-item:hover span{
	width: 100%;
}
.flexbox-item:hover{
	color: black;
}

/* Attendance Starts here */

/* Change the colors if needed, these were the ones I used */

/* Midnight Blue
#145DA0

Dark Blue
#0C2D48

Blue
#2E8BC0

Baby Blue
#B1D4E0 */

#attendance>h1{ 
  font-size:3em; 
  margin-bottom:0;
}

#attendance{
  margin-top: 50px;
  padding-bottom: 220px;
  padding-top: 15px;
  background-color: #B1D4E0;
  width: 100%;
  height: 100%;
}

#disp-att{
  display: flex;
  flex-direction: row;
  margin-left: 7%;
}

#timetable{
  margin-top: 50px;
  padding-top: 15px;
  background-color: #B1D4E0;
  width: 100%;
  height: 100%;
}

#timetable>h1{ 
  font-size:3em; 
  margin-bottom:0;
}

#permission{
  margin-top: 50px;
  padding-top: 15px;
  background-color: #B1D4E0;
  width: 100%;
  height: 100%;
}

#permission>h1{ 
  font-size:3em; 
  margin-bottom:0;
}

/* Login Page begins here */

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.login{
  height: 50px;
  border-radius: 3px;
  width: 200px;
  border-style: solid;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  font-family: 'Ubuntu', sans-serif; 
}

#login{
  margin-top: 10px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  border-style: solid;
  background-color: #145DA0;
  color: white;
  font-weight: 700 ;
}

.login:focus{
  outline-style: solid;
  outline-color: #2E8BC0;
  outline-width: 2px;
}

#login:hover{
  background-color: #2E8BC0;
}

/* Progress Bar */

.circular{
  height:100px;
  width: 100px;
  position: relative;
  transform:scale(2);
}
.circular .inner{
  position: absolute;
  z-index: 6;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background: #dde6f0;
  border-radius: 100%;
 
}
.circular .number{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:10;
  font-size:18px;
  font-weight:500;
  color:#4158d0;
}
.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}
.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
  background: #4158d0;
}
.circle .left .progress{
  z-index:1;
  animation: left 4s linear both;
}
@keyframes left{
  100%{
    transform: rotate(180deg);
  }
}
.circle .right {
  transform: rotate(180deg);
  z-index:3;
 
}
.circle .right .progress{
  animation: right 4s linear both;
  animation-delay:4s;
}
@keyframes right{
  100%{
    transform: rotate(180deg);
  }
}

.letter{
  width: 100%; 
  padding: 12px; 
  border: 1px solid cyan; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical
}

#letter-submit{
  background-color: #04AA6D;
  color: cyan;
  padding: 12px 20px;
  border-radius: 4px;
}

#letter-submit:hover{
  background-color: #45a049;
}

.letter-container{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding-bottom: 50px;
}

#letter-form{
  width: 60%;
  margin-left: 200px;
}